
body {
    margin: 0;
   
    color: white;
    font-family: Arial, sans-serif;
    /* overflow-x: hidden; */
}
.container {
    width: 100%; /* Адаптируется под ширину экрана */
    max-width: 1920px; /* Но не больше 1920px */
    margin: 0 auto;
    position: relative;
    padding: 0px;
    background-color: #282829;
    
}
.block {
    width: 100%;
    height: 110vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5vw;
    z-index: 1000;
    /* background: rgba(0, 0, 0, 0.1); */
}
.header.scrolled {
    background: rgba(0, 0, 0, 0.9); /*  темнее при скролле */
}
.logo {
    font-size: 2.5vw;
    font-weight: 400;
    font-family: 'Prata', serif;
    line-height: 54px;
    letter-spacing: 3%;
    width: 154px;
    height: 50px;
    

}
.nav {
    display: flex;
    font-style: italic;
    max-width: 427px;
    gap: 2vw;
    font-size: 1vw;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 24px;
    letter-spacing: 4%;
    font-weight: 400;
    cursor: pointer;
    margin-left: 150px;
    
}
/* Скрываем бургер на больших экранах */
.burger-menu {
    display: none;
    cursor: pointer;
    font-size: 26px;
    color: white;
}
.content {
    position: absolute;
    top: 15vh;
    left: 5vw;
    max-width:80vw;
    height: auto;
}
.content h1 {
    font-size: 4vw;
    max-width: 537px;
    line-height:5vw;
    font-family: 'Prata', serif;
    font-weight: 400;
   
}
.subtext {
    margin-bottom: 2.6vh;
    font-size: 2.5vw;
    font-family: "Arial";
    font-weight: 400;
    line-height: 3.1vw;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 0.5vh;
    margin-bottom: 2.6vh;
    height:6vh;
    white-space: nowrap;
    border-radius: 4px;
    max-width:37vw;
}
.info-item img {
    max-width: 37px;
    height: 37px;
  
}
.info-item span {
    display: flex;
    align-items: center;
}
.info-item .small-text {
    font-size: 1.3vw;
    width: 27px;
    height: 17px;
    
}
.info-item .large-text {
    font-size: 40px;
    max-width: 171px;
    margin-left: 0.5vw;
   
}
.info-item .medium-text {
    font-size: 24px;
    margin-left: 0.5vw;
  
   
}

.order-button {
    margin-top: 6vh;
    width: 10vw;
    height: 10vh;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
}


.order-button:hover {
    background-color: #1e1e1e;
    color: white;
}
.image-container {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 50%;
    height: 110vh;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* /////// */
.second-block {
    width: 100%;
    max-width: 1920px;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 6vw auto 0;
}
.side-image {
    width: 35%;
    height: auto;
}
.content-box {
    max-width: 34%;
    height: auto;
    padding: 0px 30px 0 30px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.content-item {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
    margin-bottom: 3.9vh;
    margin-top: 3vh;
}
.content-item img {
    width: 58px;
    height: 47px;
    margin-right: 20px;
}
.content-item p {
    font-size:1.25vw;
    line-height: 1.4;
    white-space: pre-line;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: auto;
}
.divider {
    width: 100%;
    height: 1px;
    background-color: #55565A;
    margin: 0.6vw;
}
.button {
    width: 100%;
    height:8vh;
    background: white;
    color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3vw;
    font-weight: 700;
    cursor: pointer;
    border: none;
   border-radius: 4px;
   transition: background-color 0.3s;
   font-family: Arial, Helvetica, sans-serif;
  
}
.button:hover {
    background: #222222;
    color: white;
}


/*  */

.form-section {
    max-width: 83.2vw;
    height:66vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 6vw auto 0;
    padding:5vw;
    box-sizing: border-box;
    
}
.form-container {
    width: 39vw;
    height: 66vh;
    background-color: white;
    padding: 4vw 7vw;
    position: absolute;
    left: 8.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 30px;
}
.form-title {
    font-size: 2.8vw;
    font-family: 'Prata', serif;
    font-weight: 400;
    margin-bottom: 1.7vh;
    color: #38535D;
}
.form-input {
    width: 100%;
    height: 6vh;
    margin-bottom: 1vh;
    padding: 2vw;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #e6e4e4;
    border: 2px solid #D5C9BE;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-input:hover {
    border: 1px solid #38535D;
    border-radius: 4px; 
    cursor: pointer;
}
.checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 1vh;
    color: #38535D;
    font-family: Arial, Helvetica, sans-serif;
}

.checkbox-container input  {
    width: 24px;
    height: 24px;
    margin-right: 0.5vw;
    
}
.checkbox-container label  {
    font-size: 1rem;
    
    
}
.submit-button {
    width: 25vw;
    height: 9vh;
    background: #282829;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-top:1.8vh;
    border-radius: 4px;
    transition: background-color 0.3s;
   
}

.submit-button:hover {
    background: #D5C9BE;
    color: #38535D;
    
}

.form-image {
    width:31.4vw;
    height: 66vh;
    object-fit: cover;
    position: absolute;
    right:8.5vw;
    border-radius:0 30px 30px 0;
}

.overlay-image {
    max-width: 27.6vw;
    height: 75vh;
    position: absolute;
    left: 41vw;
    top: 44.5%;
    transform: translateY(-50%);
}

/*  */

.footer {
    max-width: 1920px;
    height: 329px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 6vw auto 0;
}
.footer-header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    font-size: 1rem;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
    
}

.footer-top {
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top:2vh;
}
.lorem {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Prata', serif;
    line-height: 2.8vw;
    letter-spacing: 3%;
}
.footer-bottom {
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.5vh;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5vw;
    margin-bottom: 2.5vh;
}
.icons {
    display: flex;
    gap: 1vh;
   cursor: pointer;

    
}
.icons img {
    width: 32px;
    height: 32px;
}
.footer-button {
    width: 9.4vw;
    height: 8vh;
    background: white;
    color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    border: none;
    border-radius: 4px;

}
.footer-button:hover {
    background: #222222;
    color: white;
    
}



@media (max-width: 1440px) {
    .info-item img {
        max-width: 30px;
        height: 30px;
      
    }
    .content-item {
        margin-bottom: 2vh;
        margin-top: 2.5vh;
    }
   
}
@media (max-width: 1280px) {
    .nav {
        margin-left: 100px;
        
    }
    .block {
        height: 100vh;
        
    }
    .image-container {
       
        height: 100vh;
    }
    .order-button {
       
        width: 20vw;
        height: 9vh;
      
    }
    .content-item {
        margin-bottom: 1.5vh;
        margin-top: 1.5vh;
    }
    .second-block {
        margin: 1vw auto 0;
    }
    .form-section {
        margin: 1vw auto 0;
    }
    .form-container {
        width: 39vw;
        height: 60vh;
        padding: 3vw 6vw;
    }
    .form-title {
        font-size: 2.6vw;
        margin-bottom: 1.8vh;
    }
    .form-input {
        padding: 1vw;
        font-size: 14px;
    }
    
    .checkbox-container input  {
        width: 18px;
        height: 18px;
        margin-right: 0.5vw;
        
    }
    .checkbox-container label  {
        font-size: 0.8rem;
        
        
    }
    .submit-button {
        width: 27vw;
        height: 7vh;
        font-size: 1.3rem; 
    }
    .form-image {
        height: 60vh;
      
    }
    
    .overlay-image {
        height: 69vh;
        left: 40vw;
    }
    .footer-top {
        width: 75%;
        padding-top:1vh;
    }
    .lorem {
        font-size: 1.8rem;
        
    }
    .footer-bottom {
        width: 75%;
      
    }
    
    .icons img {
        width: 30px;
        height: 30px;
    }
    .footer-button {
        height: 7vh;
        font-size: 0.8rem;
    }
}
@media (max-width: 1100px) {
    .nav {
        display: none; /* Прячем обычное меню */
        flex-direction: column;
        position: absolute;
        top:0; /* Расположить под header */
        left:150px;
        background: rgba(0, 0, 0, 0.1);
        width: 200px;
        padding: 20px;
        text-align: center;
        border-radius: 4px;
    }

    .nav.active {
        display: flex; /* Показываем при нажатии */
    }

    .burger-menu {
        display: block; /* Показываем бургер */
    }
    .header {
        position: absolute;
        top:0;
        left: 45px;
       
    }
    .header.scrolled {
        background:none;
    }
    .block {
        width: 100%;
        height: 80vh;
    }
    .image-container img {
        height: 80%;
    }

    .content {
        left: 9vw;
    }
    .content h1 {
        font-size: 4vw;
       
    }
    .subtext {
        margin-bottom: 2vh;
        
    }
    
    .info-item {
      
        margin-bottom: 2vh;
        height:5vh;
    }
    .info-item img {
        max-width: 37px;
        height: 37px;
      
    }
   
    .info-item .small-text {
        font-size: 1.5vw;
       
    }
    .info-item .large-text {
        font-size: 25px;
       
    }
    .info-item .medium-text {
        font-size: 23px;
    }
    
    .side-image-left {
        display: none;
    }
    .second-block {
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center; /* Центрируем содержимое */
        gap: 30px; /* Небольшой отступ между блоками */
       margin-top: 10vh;
    }
    .content-item img {
        width: 48px;
        height: 37px;
    }
    .content-item p {
        font-size:1.5vw;
    }
    .button {
        width: 60%;
        height:7vh;
    }

    .content-box {
        max-width: 50%; /* Даем контенту 50% ширины */
        
    }

    .side-image-right {
        max-width: 50%; /* Картинка занимает 45% ширины */
        height: auto; /* Поддерживает пропорции */
    }
    .form-container {
         height: 50vh;
    }

   
    .checkbox-container label  {
        font-size:0.8em;
        
        
    }
    .submit-button {
        width: 27vw;
        height: 7vh;
       
    }
    
    .form-image {
        height: 50vh;
      
    }
    
    .overlay-image {
        height: 58vh;
        top: 45%;
    }
    
}
